body 
	{
	background-color:#d6c8b9;
	font-family: 'Hahmlet', sans-serif;
	width: 100%;
	}

h1  {
	color: #ffa847;
	font-family: 'Hahmlet';
	font-style: italic;
	font-size: 3.5rem;
	

	}
h2   {
	color: white;
	font-family: 'Hahmlet';
	font-style: italic;
	font-size: 2rem;

	}
h3   {
	color: white;
	font-family: 'Hahmlet';
	font-style: thin;
	font-size: 2rem;
	}

a {
  color: #ffa847;
}

p {
  color: white;
  font-family: 'Hahmlet';
  font-style: thin;
  font-size: 1.2rem;
}

#header
	{ 
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-bottom: 200px;
		padding-bottom: 200px;
		background-image: url(bures-denise/Wald.jpeg);
		background-position: center;
		background-size: 300%;
		background-repeat: no-repeat;
	}
	
#main
	{
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 20px;
		margin-bottom: 100px;
		
		background-color:#ffa847;
		color: white;
	}
	
	
#footer
	{
	background-color:#ffa847;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	
	
	}
