
body 
	{
	background-color:#d6c8b9;
	font-family: 'Hahmlet', sans-serif;
	width: 100%;
	}

h1  {
	color: #ffa847;
	font-family: 'Hahmlet', monospace; 
	font-style: italic;
	font-size: 3.5rem;
	

	}
h2   {
	color: white;
	font-family: 'Hahmlet';
	font-style: italic;
	font-size: 2rem;

	}
h3   {
	color: white;
	font-family: 'Hahmlet';
	font-style: thin;
	font-size: 2rem;
	}

h {
  color: #ffa847;
}

a {
  color: white;
}

p {
  color: white;
  font-family: 'Hahmlet';
  font-style: thin;
  font-size: 1.2rem;
}
.grid {
	position: relative;
	margin: 0 auto;
	display: flex;
        justify-content: space-evenly;
	margin-bottom: 100px;
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 270px;
	padding: 10px;
        display: block;
        text-align: center;
	display: flex;
        justify-content: space-evenly;
      }
        
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
}
.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
	margin-bottom: 100px;
}

#header
	{ 
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-bottom: 100px;
		
		background-image: url(bures-denise/Wald.jpeg);
		background-size: 100%;
		background-repeat: no-repeat;
	
		
	}
	
#main
	{
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 100px;
		
		background-color:#ffa847;
		color: white;
	}
	
	
#footer
	{
	background-color:#ffa847;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	
	
	}
